@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
